@{
    ViewData["Title"] = "Машина по продаже напитков";
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            var vm = new Model();
            ko.applyBindings(vm);

            vm.loadCoins(true);
            vm.loadDrinks();
        });
    </script>
}
<div class="row" data-bind="if: stackDrink() && stackCoin()">
    <div class="col-6">
        <h4>Мы можем Вам предложить:</h4>
        <span data-bind="visible: activeDrink"><i class="fa fa-spinner fa-spin"></i></span>
        <div data-bind="if: stackDrink()">
            <table class="table table-sm">
                <tbody data-bind="foreach: stackDrink().drinks()">
                    <tr data-bind="class: !drinkAccessible()?'table-danger':''">
                        <td data-bind="text: name" class="font-weight-bold col-2"></td>
                        <td data-bind="text: volume + ' мл.'" class="col-1"></td>
                        <td data-bind="text: price() + ' руб.'" class="col-1"></td>
                        <td data-bind="text: quantity() + ' шт.'" class="col-1"></td>
                        <td class="col-1 align-content-center">
                            <button data-bind="enable: canBeSold(), click: sell" class="btn btn-primary btn-sm">Купить</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-4">
        <h4>Внесите монеты:</h4>
        <span data-bind="visible: activeDrink"><i class="fa fa-spinner fa-spin"></i></span>
        <div data-bind="if: stackCoin()">
            <table>
                <tbody data-bind="foreach: stackCoin().coins()">
                    <tr data-bind="class: blocking() ? 'table-danger' : '' ">
                        <td class="col-2">
                            <a data-bind="click: putOne">
                                <h2><span data-bind="text: par" class="badge badge-pill badge-primary"></span></h2>
                            </a>
                        </td>
                        <td data-bind="text: quantity() + ' шт.'" class="col-2"></td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th data-bind="text: stackCoin().total() +' руб'"></th>
                </tr>
                </tfoot>
            </table>
        </div>
        <button data-bind="click: stackCoin().refund" class="btn btn-lg btn-primary">Возврат монет</button>
    </div>
</div>
