@{
    ViewData["Title"] = "Администрирование";
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            var vm = new Model();
            ko.applyBindings(vm);

            vm.loadCoins(false);
            vm.loadDrinks();
        });
    </script>
}
<div class="row">
    <div class="col-6">
        <h4>Хранилище напитков:</h4>
        <span data-bind="visible: activeDrink"> <i class="fa fa-spinner fa-spin"></i> </span>
        <table class="table table-sm" data-bind="if: stackDrink()">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Объем</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="with: stackDrink">
                <!-- ko foreach: drinks -->
                <tr data-bind="click: $root.stackDrink().showDrink, class: !drinkAccessible()?'table-danger':''">
                    <td data-bind="text: name" class="font-weight-bold"></td>
                    <td data-bind="text: volume"></td>
                    <td>
                        <div class="input-group">
                            <input data-bind="textInput: price" class="form-control form-control-sm" type="text" pattern="^[ 0-9]+$"/>
                            <div class="input-group-append">
                                <button data-bind="class:  btnClass, click: priceSave" title="Изменить цену" class="btn btn-sm btn-light"><i class="fa fa-check"></i></button>
                            </div>
                        </div>
                    </td>
                    <td data-bind="text: quantity()">
                    <td data-bind="text: value()">
                    <td>
                        <button data-bind="click: remove" title="Удалить напитки из машины" class="btn btn-sm btn-light"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <!-- /ko -->
                <tr if: newDrink>
                    <!-- ko with: newDrink -->
                    <td><input data-bind="value: name" placeholder="Наименование" class="form-control" type="text" /></td>
                    <td><input data-bind="value: volume" title="Объем мл." class="form-control" type="text"  pattern="^[ 0-9]+$"/></td>
                    <td><input data-bind="value: price" title="Цена руб." class="form-control" type="text"  pattern="^[ 0-9]+$"/></td>
                    <td><input data-bind="value: quantity" title="Количество шт." class="form-control" type="text"  pattern="^[ 0-9]+$"/></td>
                    <td data-bind="text: value()"></td>
                    <!-- /ko -->
                    <td>
                        <div class="input-group-append">
                            <button data-bind="click: showNewDrink" title="Очистить форму" class="btn btn-sm btn-light"><i class="fa fa-times"></i></button>
                            <button data-bind="click: addDrinkToRepository" title="Добавить в хранилище" class="btn btn-sm btn-light"><i class="fa fa-check"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th data-bind="text: stackDrink().total()+' руб.'"></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-6">
        <h4>Хранилище монет:</h4>
        <span data-bind="visible: activeCoin"><i class="fa fa-spinner fa-spin"></i></span>
        <table class="table table-sm" data-bind="if: stackCoin()">
            <thead>
                <tr>
                    <th>Достоинтсво</th>
                    <th>Количество</th>
                    <th>Добавить/забрать</th>
                    <th>Итого</th>
                    <th>Не принимать</th>
                </tr>
            </thead>
            <tbody  data-bind="with: stackCoin">
            <!-- ko foreach: coins -->
            <tr data-bind="class: !coinAccessible()?'table-danger':''">
                <td data-bind="text: par" class="font-weight-bold"></td>
                <td data-bind="text: quantity()"></td>
                <td>
                    <div class="input-group">
                        <input data-bind="textInput: quantityForAdding" class="form-control" type="text" pattern="^[ 0-9]+$" />
                        <div class="input-group-append">
                            <button data-bind="class: btnClass, click: plus" title="Добавить монеты в машину" class="btn btn-sm btn-light"><i class="fa fa-plus"></i></button>
                            <button data-bind="class: btnClass, click: minus" title="Забрать монеты из машины" class="btn btn-sm btn-light"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </td>
                <td data-bind="text: value()"></td>
                <td class="align-content-center"><button data-bind="class: btnBlockingClass, click: changeBlocking" class="btn btn-sm btn-light"><i class="fa fa-check"></i></button></td>
            </tr>
            <!-- /ko -->
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3"></th>
                    <th data-bind="text: stackCoin().total()+' руб.'"></th>
                    <th colspan="1"></th>
                </tr>
            </tfoot>
        </table>
    
        <h3 class="fa-pull-right text-danger" data-bind="if: stackDrink() && stackCoin()">
            Итого в машине напитков и монет на <span data-bind="text: stackDrink().total() + stackCoin().total()"></span> руб.
        </h3>
    </div>
</div>